* {
  font-family:'PT Serif', serif;
}


/* PAGE MEMBERS */


/* Inverted text-img for members */

@media(max-width:576px) {
  .inverse-order {
    display: flex;
    flex-direction: column;
  }
  .photo-start {
    align-self: start;
    order: -1;
  }
}


/* Background color for members */

.team1 {
  background: rgb(10,158,40);
  background: linear-gradient(90deg, rgba(10,158,40,1) 42%, rgba(106,228,24,1) 86%);
}





